/* cq render right of code */

div.leftside {
  width: 43%;
  padding: 0px 3px 0px 0px;
  float: left;
}

div.rightside {
  margin-left: 45%;
  /* float: right; */
}

div.cq-side-by-side {  
  padding: 1px;
  border: 1px solid #ccc;
} 

/* cq render after code */


div.cq-top > div.highlight-default { /* code block */
  margin-bottom: 0;
  border-left: 5px solid #ccc;
}

div.cq-top-bottom > div.cq { /* render */
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-left: 5px solid #ccc;
}

/* better table formatting */
table.docutils td p {
  text-wrap: wrap;
}


