/* cq render right of code */

div.leftside {
  width: 43%;
  padding: 0px 3px 0px 0px;
  float: left;
}

div.rightside {
  margin-left: 45%;
  /* float: right; */
}

div.cq-side-by-side {  
  border-left: 4px solid #ccc;
  margin-bottom: 10px;
} 

/* cq render after code */


div.cq-top > div.highlight { /* code block */
  margin-bottom: 0;
  border-left: 5px solid #ccc;
}

div.cq-top-bottom > div.cq { /* render */
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-left: 5px solid #ccc;
}

/* better table formatting */
table.docutils td p {
  text-wrap: wrap;
}

/* links in code */
a.codelink, a.codelink:visited {
  color: #0000FF;
  text-decoration: underline #C0C0FF;
}